{
    "environment": "development",
    "domains": {
        "dashboard": "dashboard.stamhoofd.dev",
        "registration": {
            "": "stamhoofd.dev",
            "BE": "dev.stamhoofd.be",
            "NL": "dev.stamhoofd.nl"
        },
        "webshop": "shop.stamhoofd.dev",
        "api": "api.stamhoofd.dev",
        "demoApi": "api.stamhoofd.dev"
    },
    "MOLLIE_CLIENT_ID": "",
    "NOLT_URL": "feedback.stamhoofd.app"
}