{
    "environment": "development",
    "domains": {
        "dashboard": "dashboard.stamhoofd.dev",
        "registration": {
            "": "stamhoofd.dev",
            "BE": "dev.stamhoofd.be",
            "NL": "dev.stamhoofd.nl"
        }, 
        "marketing": {
            "": "dev.stamhoofd.be",
            "BE": "dev.stamhoofd.be",
            "NL": "dev.stamhoofd.nl"
        },
        "webshop": {
            "": "shop.dev.stamhoofd.be",
            "BE": "shop.dev.stamhoofd.be",
            "NL": "shop.dev.stamhoofd.nl"
        },
        "webshopPrefix": "shop",
        "legacyWebshop": "shop.stamhoofd.dev",
        "api": "api.stamhoofd.dev", 
        "demoApi": "api.stamhoofd.dev",
        "admin": "admin.stamhoofd.dev", 
        "adminApi": "api.admin.stamhoofd.dev",
        "rendererApi": "renderer.stamhoofd.dev"
    },
    "MOLLIE_CLIENT_ID": "",
    "NOLT_URL": "feedback.stamhoofd.app"
}