@use '../base/variables' as *;

.st-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    box-sizing: border-box;
    padding: 20px var(--st-horizontal-padding, 40px) 0 var(--st-horizontal-padding, 40px);

    .st-toolbar {
        margin-top: auto;
    }
}
