[submodule "stamhoofd-admin-backend"]
path = backend/app/admin
url = dummy_string_to_satisfy_vscode

[submodule "stamhoofd-admin-frontend"]
path = frontend/app/admin
url = dummy_string_to_satisfy_vscode