@media (hover: hover) {
    .hover-box {
        .hover-show {
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    .hover-box:hover, .hover-box.focused {
        .hover-show {
            opacity: 1;
        }

        .hover-box:not(:hover) {
            .hover-show {
                opacity: 0;
            }
        }
    }

    .hover-show.focused, .focused .hover-show, .hover-show:has(.focused) {
        opacity: 1;
    }
}
