@media (hover: hover) {
    .hover-box {
        .hover-show {
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    .hover-box:hover, .hover-box.open-context-menu {
        .hover-show {
            opacity: 1;
        }

        .hover-box:not(:hover) {
            .hover-show {
                opacity: 0;
            }
        }
    }

    .hover-show.open-context-menu, .open-context-menu .hover-show, .hover-show:has(.open-context-menu) {
        opacity: 1;
    }
}
