@use "../base/variables" as *;
@use "../base/text-styles" as *;


.split-view-controller {
    > .master {
        z-index: 100;
        overscroll-behavior: contain;
    }

    > .detail {
        background: var(--color-current-background);
    }

    &[data-has-detail="true"] {
        > .master {
            border-right: 2px solid $color-border;
            background: $color-white-shade;
            --color-current-background: #{$color-background-shade};
            --color-current-background-shade: #{$color-background-shade-darker};
        }
    }
}

.popup {
    transform: translate3d(0, 0, 0);

    @media (max-height: 900px) {
        // Reduce navigation bar height if height is limited
        --navigation-bar-margin: 10px;
        //--navigation-bar-horizontal-padding: 10px;
    }

    & > div {
        overscroll-behavior: contain;
        height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 40px));

       > .scrollable-container {
            --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100 - 40px) / 100);
        }

        @media (max-height: 900px) {
            height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 20px));

            > .scrollable-container {
                --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100 - 20px) / 100);
            }
        }

        @media (max-height: 600px) {
            height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 0px));

            > .scrollable-container {
                --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100) / 100);
            }
        }

        
    }
}

.sheet {
    transform: translate3d(0, 0, 0);

    > div {
        width: 400px;
        overscroll-behavior: contain;

        max-height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 40px));

        > * {
            --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100 - 40px) / 100);
        }

        @media (max-height: 900px) {
            max-height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 20px));

            > * {
                --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100 - 20px) / 100);
            }
        }

        @media (max-height: 600px) {
            max-height: calc(min(max(50vh, 1000px), var(--vh, 1vh) * 100 - 0px));

            > * {
                --vh: calc(min(max(50vh, 1000px), var(--saved-vh, 1vh) * 100) / 100);
            }
        }
    }

    @media (max-height: 900px) {
        // Reduce navigation bar height if height is limited
        --navigation-bar-margin: 10px;
        //--navigation-bar-horizontal-padding: 10px;
    }
}

.side-view {
    transform: translate3d(0, 0, 0);

    > div {
        max-width: 400px;
        overscroll-behavior: contain;
    }
}
