.split-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0 30px;

    &.option {
        margin-top: 7px
    }

    .st-input-box > & {
        gap: 10px;

        & > div {
            margin: 0;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            min-width: 0;
            max-width: none;

            &:first-child {
                flex-grow: 1;
            }
        }
    }

    @media (max-width: 699px) {
        display: block;

        & > div {
            margin: 0;
        }
    }

    .categorized-box & {
        display: block;

        & > div {
            margin: 0;
        }
    }
}
