@use '../base/variables' as *;
@use '../base/text-styles' as *;

.st-menu {
    --st-vertical-padding: 25px;

    @media (min-width: 801px) {
        --st-horizontal-padding: 25px;
    }

    #organization-switcher {
        margin-bottom: 15px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        touch-action: manipulation;
        user-select: none;
        cursor: pointer;
        @extend .style-interactive-small;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: opacity 0.2s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    
        > .text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: auto;
            min-width: none;
        }

        &:active {  
            opacity: 0.4;
            transition: none;
        }
    }

    #logo {
        display: block;
        margin-bottom: 5px;
    }

    > .padding-group {
    }

    hr.footer {
        margin-top: auto;
    }

    .grouped {
        padding: 5px 0;


        .group-title {
            color: $color-gray-1;
            font-size: 14px;
            font-weight: $font-weight-semibold;
            min-height: 24px;
            padding-bottom: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%; // Required for button elements

            > button, > span:not(:first-child) {
                margin-left: auto;

                &.icon.arrow-right-small {
                    margin-right: -9px;
                }
            }
        }
    }

    > main {
        display: flex;
        flex-direction: column;
        overflow-x: hidden; // Fixes Safari 16 bug with negative margins + display flex
        overflow-x: clip; // Same as above, but prevent scrolling
    }

    > main > hr, > main > .container > hr {
        height: $border-width-thin;
        border-radius: $border-width-thin/2;
        background: $color-gray-2;
        border: 0;
        outline: 0;
        margin: 15px 0;
    }

    .menu-button {
        display: flex;
        flex-direction: row;
        @extend .style-button-small;
        color: $color-dark-light;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 42px;
        transition: transform 0.2s, background-color 0.2s, color 0.2s;
        text-align: left;
        box-sizing: content-box;

        text-overflow: ellipsis;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;

        padding-left: 15px;
        padding-right: 15px;
        margin: 0 -15px;
        border-radius: $border-radius;

        &, &:active, &:visited, &:link {
            text-decoration: none;
        }

        > .icon {
            padding-right: 15px;
            flex-shrink: 0;
        }

        > .image {
            margin-right: 10px;
            flex-shrink: 0;
            width: 29px;
            height: 29px;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 29px;
                height: 29px;
                object-fit: cover;
            }
        }

        > figure:first-child {
            margin-right: 10px;
            flex-shrink: 0;
            --block-width: 29px;
        }

        > .text-icon {
            margin-right: 10px;
            flex-shrink: 0;
            width: 29px;
            height: 29px;

            border-radius: 4px;
            text-align: center;
            background: $color-primary-light;
            color: $color-primary;
            text-transform: uppercase;
            line-height: 29px;
            font-size: 11px;
            font-weight: bold;
        }

        > span {
            text-overflow: ellipsis;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
        }

        .count {
            margin-left: auto;
            flex-shrink: 0;
            opacity: 0.7;
            font-size: 13px;
            font-weight: $font-weight-semibold;
            padding-left: 5px;
        }

        .bubble {
            @extend .style-bubble;
            
            margin-left: auto;
            flex-shrink: 0;
        }

        .right-icon {
            margin-left: auto;
            flex-shrink: 0;
            padding-right: 0
        }

        &.cta {
            color: $color-primary;
        }

        .split-view-controller[data-has-detail="true"] &.selected  {
            background-color: $color-primary-light;
            color: $color-primary;
        }

        &.button {
            cursor: pointer;

            &:active, &.active {
                background-color: $color-gray-3;
            }
        }

        > button {
            margin-left: auto;
            color: $color-primary;
        }
    }
}