@use '../base/variables' as *;
@use '../base/text-styles' as *;

.view {
    > main {
        @extend .main-text-container;

        &.limit-width {
            --st-horizontal-padding: calc((100vw - 900px) / 2);
            --st-horizontal-padding: max(var(--st-view-horizontal-padding), calc((100vw - 900px) / 2));

            @media(max-width: 940px) {
                --st-horizontal-padding: 20px;
            }

            padding: 0 var(--st-horizontal-padding, 40px) 0 var(--st-horizontal-padding, 40px);
            padding: 0 calc(var(--st-horizontal-padding, 40px) - var(--st-view-horizontal-padding, 40px)) 0 calc(var(--st-horizontal-padding, 40px) - var(--st-view-horizontal-padding, 40px));
        }
    }
}
.st-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    box-sizing: border-box;
    padding: var(--st-vertical-padding, 20px) var(--st-horizontal-padding, 40px) var(--st-vertical-padding, 20px) var(--st-horizontal-padding, 40px);
    
    // Save padding if we make changes
    --st-view-horizontal-padding: var(--st-horizontal-padding, 40px);

    .st-toolbar {
        margin-top: auto;
    }

    &.auto {
        min-height: auto;
    }

    @extend .view;

    &.background {
        background: $color-white;
    }

    &.shade {
        background: $color-background-shade;
    }
}

.sheet .st-view {
    min-height: auto;
}