@use "@stamhoofd/scss/base/fonts.scss";
@use "@stamhoofd/scss/base/variables.scss" as *;

:root {
    // Always force scroll availability on mobile browsers, this is to fix glitches when
    // the tabbars should become visible after transitioning from a long to a short modal
    // min-height: 100vh;

    --st-horizontal-padding: 40px;
    --st-vertical-padding: 40px;
    --st-safe-area-top: 0px;
    --st-safe-area-top: env(safe-area-inset-top, 0px);

    --color-current-background: #{$color-white};
    --color-current-border: #{$color-border};
    --color-current-background-shade: #{$color-white-shade};
    --st-safe-area-bottom: 0px;
    --st-safe-area-bottom: env(safe-area-inset-bottom, 0px);

    @media (max-width: 800px) {
        --st-horizontal-padding: 20px;
        --st-vertical-padding: 20px;
    }

    @media (max-width: 450px) {
        --st-horizontal-padding: 15px;
    }    
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Metropolis", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-dark;
    -webkit-overflow-scrolling: auto;

    /* Disabel text resize as this doesn't work across animations */
    text-size-adjust: none;
}