@use "~@shared/scss/base/fonts.scss";
@use "~@shared/scss/base/variables.scss" as *;

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Metropolis", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-dark;
    -webkit-overflow-scrolling: auto;
}
