@use '../base/variables' as *;
@use '../base/text-styles';

.inline-link {
    &, &:hover, &:link, &:active, &:visited {
        color: $color-primary;
        font-weight: $font-weight-bold;
        text-decoration: none;
    }

    &.secundary {
        &, &:hover, &:link, &:active, &:visited {
            color: $color-gray-4;
        }
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.4;
    }
}

.icon-spacer {
    margin-right: 5px;
    vertical-align: middle;
}

.button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
    color: inherit;

    &:link, &:visited, &:active, &:hover {
        text-decoration: none;
    }

    &.simple {
         &:active {
            opacity: 0.4;
        }
    }

    &.primary {
        @extend .style-button;
        color: white;

        padding: 0 27px;
        background: linear-gradient(to right, $color-primary, $color-primary-destination);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 42px;
        align-items: center;

        border-radius: $border-radius;
        transition: 0.2s transform, 0.2s opacity; //, 0.2s box-shadow;
        //box-shadow: 0 6px 10px 0 rgba($color-primary, 0.2);
        display: inline-flex;
        justify-content: center;

        &:active {
            transform: scale(0.95, 0.95);
            //box-shadow: 0 0px 15px 0 rgba($color-primary, 0.2);
        }

        .dropdown-text {
            flex-grow: 1;
            margin-right: -40px;
            padding-right: 40px;
        }

        > .bubble {
            @extend .style-bubble;
            background: $color-background;
            color: $color-primary;
        }

        .dropdown {
            position: relative;

            &:after {
                left: -$border-width;
                top: 0;
                bottom: 0;
                position: absolute;
                content: "";
                background: currentColor;
                opacity: 0.5;
                width: $border-width;
            }
            font-size: 24px;
            width: 40px;
            height: 42px;
            line-height: 42px;
            align-self: stretch;
            margin-right: -27px;
            margin-left: 27px - $border-width;

            &:hover {
                background-color: rgba($color-white, 0.2);
            }
        }

        &:disabled {
            color: $color-gray-2;
            background: $color-white-shade;
            box-shadow: none;
            cursor: not-allowed;

            &:active {
                transform: none;
            }
        }

    }

    &.destructive {
        @extend .style-button;
        color: white;

        padding: 0 27px;
        background: $color-error;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 42px;
        border-radius: $border-radius;
        transition: 0.2s transform, 0.2s opacity;
        //box-shadow: 0 6px 10px 0 rgba($color-error, 0.2);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:active {
            transform: scale(0.95, 0.95);
            //box-shadow: 0 0px 15px 0 rgba($color-primary, 0.2);
        }
    }

    &.secundary {
        @extend .style-button;
        color: $color-gray-4;
        padding: 0 27px;
        background: $color-gray-3;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: $border-radius;
        transition: 0.2s transform, 0.2s opacity, 0.2s box-shadow;
        height: 42px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:active {
            transform: scale(0.95, 0.95);
        }

        &.green {
            color: $color-success-dark;
            background: $color-success-background;
        }

        &.danger {
            color: $color-error-dark;
            background: $color-error-background;
        }

        &:disabled {
            color: $color-gray-2;
            background: $color-white-shade;
            box-shadow: none;
            cursor: not-allowed;

            &:active {
                transform: none;
            }
        }
    }

    &.secundary, &.primary, &.destructive {
        > .icon, > .bubble {
            align-self: center;
            
            &:first-child {
                margin-right: 10px;
                margin-left: -5px;
            }

            &:last-child {
                margin-left: 10px;
                margin-right: -5px;
            }

            
        }

        &.full {
            width: 100%;
        }
    }

    &.secundary, &.primary, &.text, &.destructive {
        &> span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.icon {
                text-overflow: clip;
                flex-shrink: 0;
            }
        }
    }

    &.tooltip-only {
        cursor: help;
    }

    &.text {
        @extend .style-button-small;
        color: $color-gray-4;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        height: 34px;
        line-height: 34px;
        white-space: nowrap;
        transition: 0.2s opacity ease-out 0.1s, 0.2s color;
        position: relative;
        max-width: 100%;

        &.full {
            display: block;
        }

        &.small {
            font-size: 12px;
        }

        &.selected {
            color: $color-primary;
        }

        &.unbold {
            font-weight: $font-weight-medium;
        }
        
        &.inherit-color {
            color: inherit;
        }

        > * {
            vertical-align: top;
        }

        > .bubble {
            @extend .style-bubble;
        }

        &.column {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            line-height: 1;
            position: relative;
            overflow: visible;

            > span {
                margin-bottom: 4px;
            }

            > .bubble {
                background: $color-error;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(calc(12px - 20%), -20%);
            }
        }

        &:active {
            opacity: 0.4;
            transition: 0s opacity, 0.2s color;
        }

        @media (max-width: 500px) {
            &.limit-space {
                overflow: visible;
                
                span:not(.icon) {
                    display: none
                }
            }
        }

        &:disabled {
            color: $color-gray-2;
            box-shadow: none;
            cursor: not-allowed;

            &:active {
                transform: none;
            }
        }
    }

    &.icon {
        padding: 10px;
        margin: -10px;
        transition: 0.2s opacity ease-out, 0.2s color;

        &:active {
            opacity: 0.4;
            transition: 0s opacity, 0.2s color;
        }
    }
}

// Non clickable button
span.button.text {
    height: 24px;
    line-height: 24px;
}