@use '@stamhoofd/scss/base/variables' as *;
@use '@stamhoofd/scss/base/responsive-helpers' as *;
@use '@stamhoofd/scss/components/icons' as *;

.error-box {
    background: $color-error-background;
    color: $color-error-dark;

    &::before {
        color: $color-error;
    }
}

.error-box-parent .error-box {
    margin: 0;
}

.warning-box {
    background: $color-warning-background;
    color: $color-warning-dark;

    &::before {
        color: $color-warning-primary;
    }
}

.info-box {
    background: $color-primary-background;
    color: $color-dark;

    &::before {
        color: $color-primary;
    }
}

.success-box {
    background: $color-success-background;
    color: $color-success-dark;

    &::before {
        color: $color-success;
    }
}

.loading-box {
    background: $color-primary-background;
    color: $color-dark;
    
    > .spinner-container {
        position: absolute;
        color: $color-primary;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.error-box, .success-box, .info-box, .warning-box, .loading-box {
    border-radius: $border-radius;
    font-size: 14px;
    line-height: 1.4;
    font-weight: $font-weight-default;
    padding: 15px 15px 15px 50px;

    min-height: 49px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    .custom-bottom-box + & {
        margin-top: 5px;
    }

    +.error-box, +.success-box, +.info-box, +.warning-box, +.loading-box  {
        margin-top: -10px;
    }

    > .button {
        flex-shrink: 0;
        margin: -15px 0;
        padding: 0;
        justify-self: stretch;
        padding-left: 15px;
        margin-left: auto;
        @extend .only-icon-smartphone;

        &.text.button {
            color: inherit;
        }
    }
}

.error-box, .success-box, .info-box, .warning-box {
    @extend .icon-base;

    &::before {
        position: absolute;
        font-size: 24px;
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &.icon {
        display: flex;
        width: auto;
        height: auto;
        overflow: visible;
        white-space: inherit;
    }

    &.selectable {
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
        cursor: pointer;

        &:active {
            opacity: 0.5;
        }
    }
}