@use '@stamhoofd/scss/base/variables' as *;
@use '@stamhoofd/scss/base/responsive-helpers' as *;

.error-box {
    background: $color-error-background;
    border-radius: $border-radius;
    color: $color-error-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 50px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 450px) {
        font-size: 14px;
    }

     &::before {
        position: absolute;
        content: "";
        color: $color-error;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/error.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &.selectable {
        cursor: pointer;
        touch-action: manipulation;
        
        &:active {
            opacity: 0.8;
        }
    }
}

.warning-box {
    background: $color-warning-background;
    border-radius: $border-radius;
    color: $color-warning-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 50px;
    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    @media (max-width: 450px) {
        font-size: 14px;
    }

    &::before {
        position: absolute;
        content: "";
        color: $color-warning-primary;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/warning.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.info-box {
    background: $color-primary-background;
    border-radius: $border-radius;
    color: $color-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 50px;
    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    @media (max-width: 450px) {
        font-size: 14px;
    }

    &::before {
        position: absolute;
        content: "";
        color: $color-primary;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/info-filled.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &.email {
        &::before {
            font-icon: url(@stamhoofd/assets/images/icons/email.svg);
        }
    }
}

.success-box {
    background: $color-success-background;
    border-radius: $border-radius;
    color: $color-success-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 50px;
    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    @media (max-width: 450px) {
        font-size: 14px;
    }

    &::before {
        position: absolute;
        content: "";
        color: $color-success;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/success.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.error-box, .success-box, .info-box, .warning-box {
    &.selectable {
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
        cursor: pointer;

        &:active {
            opacity: 0.5;
        }
    }

    &.with-button {
        display: flex;
        flex-direction: row;
        align-items: center;

        > .button {
            flex-shrink: 0;
            padding-left: 15px;
            margin-left: auto;
            @extend .only-icon-smartphone;

            &.text.button {
                color: inherit;
            }
        }
    }
}