@use "@stamhoofd/scss/base/variables.scss" as *;
@use '@stamhoofd/scss/base/text-styles.scss';

.member-view-details {
    .accounts-description {
        @extend .style-definition-description;
        margin-top: 15px;
    }

    .account {
        @extend .style-definition-description;
        margin-bottom: 5px;
    }
}

.member-view-details.split {
    padding-top: 5px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 41%;
    gap: 20px;

    @media (max-width: 700px) {
        grid-template-columns: 100%;
    }

    > div,
    > div > div {
        --st-horizontal-padding: 0px;
    }

    &:has(> div:last-child:empty) {
        grid-template-columns: 1fr;
    }

    > div:first-child > .container:first-child {
        > hr:first-child {
            display: none;
        }
    }

    @media (min-width: 701px) {
        > div:last-child > .container:first-child {
            > hr:first-child {
                display: none;
            }
        }
    }
}

.member-records {
    li {
        list-style: none;
        padding: 0 10px;
        background: $color-background-shade;
        border-radius: $border-radius;
        margin: 5px 0;
        font-size: 14px;
        line-height: 1.4;
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }

        &.Error {
            background: $color-error-background;
            color: $color-error-dark;
        }

        &.Warning {
            background: $color-warning-background;
            color: $color-warning-dark;
        }

        .icon:first-child {
            margin-right: 5px;
            flex-shrink: 0;
        }

        .text {
            padding: 11px 0;
        }

        &.more {
            cursor: help;

            .icon:last-child {
                display: block;
                flex-shrink: 0;
                margin-left: auto;
                padding-left: 5px;
                transform: translate(0, 0);
                opacity: 0.5;
                transition: transform 0.2s, opacity 0.2s;
            }

            &:hover {
                .icon:last-child {
                    transform: translate(5px, 0);
                    opacity: 1;
                }
            }
        }
    }
}
