@use "./variables.scss" as *;

body, :host {
    // Indicate both are supported
    color-scheme: light dark;
}

body.dark, :host.dark {
    // Force dark
    @include dark-modus;
}

body.light, :host.light {
    // Force light mode
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    body:not(.light), :host:not(.light), :root:not(:has(body.light)) {
        @include dark-modus;

        .st-color-directive {
            // Colors need to be recalculated using the local color hue and saturation
            @include dark-modus;
        }

    }
    img[src*=".svg"] {
        filter: contrast(0.7);
    }

}

body.dark, :host.dark {
    .st-color-directive {
        // Colors need to be recalculated using the local color hue and saturation
        @include dark-modus;
    }
}
