@use "./variables.scss" as *;

body, :host {
    // Indicate both are supported
    color-scheme: light dark;
}

body.dark, :host.dark {
    // Force dark
    @include dark-modus;
}

body.light, :host.light {
    // Force light mode
    color-scheme: light;
}

body:not(.light), :host:not(.light) {
    @media (prefers-color-scheme: dark) {
        @include dark-modus;
    }
}

@media (prefers-color-scheme: dark) {
    img[src*=".svg"] {
        filter: contrast(0.7);
    }
}


body:not(.light), :host:not(.light) {
    @media (prefers-color-scheme: dark) {
        .st-color-directive {
            // Colors need to be recalculated using the local color hue and saturation
            @include dark-modus;
        }
    }
}

body.dark, :host.dark {
    .st-color-directive {
        // Colors need to be recalculated using the local color hue and saturation
        @include dark-modus;
    }
}
