// Colors
$input-height: 44px;

$color-primary-original: #0053ff;
$color-primary: var(--color-primary, $color-primary-original);

$color-primary-gray-light-original: #9DB7EC;
$color-primary-gray-light: var(--color-primary-gray-light, $color-primary-gray-light-original);

$color-dark-original: #000716;
$color-dark: var(--color-dark, $color-dark-original);

$color-primary-destination: var(--color-primary, #2700ff);

$color-error: #FF1741;


$color-error-border-original: #FFCAD3;
$color-error-border: var(--color-error-border, $color-error-border-original);

$color-error-border-focus: $color-error;

$color-success-original: #0CBB69;
$color-success-background-original: #E5F6EE;
$color-success-dark-original: #0C4529;
$color-success-border-original: #AEDBC6;

$color-success: var(--color-success, $color-success-original);
$color-success-background: var(--color-success-background, $color-success-background-original);
$color-success-dark: var(--color-success-dark, $color-success-dark-original);
$color-success-border: var(--color-success-border, $color-success-border-original);
$color-success-border-focus: $color-success;

$color-gray-dark-original: #5e5e5e;
$color-gray-dark: var(--color-gray-dark, $color-gray-dark-original);

$color-gray-text: #777777;

$color-gray-original: #868686;
$color-gray: var(--color-gray, $color-gray-original);

$color-gray-light-original: #dcdcdc;
$color-gray-light: var(--color-gray-light, $color-gray-light-original);

$color-gray-lighter-original: #e7e7e7;
$color-gray-lighter: var(--color-gray-lighter, $color-gray-lighter-original);

$color-primary-lighter-original: #F7FAFF;
$color-primary-lighter: var(--color-primary-lighter, $color-primary-lighter-original);

$color-primary-light-original: #dfe9ff;
$color-primary-light: var(--color-primary-light, $color-primary-light-original);

$color-primary-background-original: #F0F5FF;
$color-primary-background: var(--color-primary-background, $color-primary-background-original);


$color-white-shade-original: #f5f5f5;
$color-white-shade: var(--color-white-shade, $color-white-shade-original);

$color-white-original: #ffffff;
$color-white: var(--color-white, #ffffff);

$color-primary-constrast-original: $color-white;
$color-primary-contrast: var(--color-primary-contrast, $color-primary-constrast-original);

// Used for segmented control
$color-white-highlight: var(--color-white-highlight, #ffffff);

// Used for interaction elements that need to remaing visible in dark mode
$color-white-interaction: var(--color-white-interaction, #ffffff);

//$color-background-original: #ffffff;
$color-background: $color-white;//;var(--color-background, #ffffff);

$color-error-background-original: #ffd6dd;
$color-error-background: var(--color-error-background, $color-error-background-original);

$color-error-dark-original: #630012;
$color-error-dark: var(--color-error-dark, $color-error-dark-original);

$color-warning-background-original: #fff6d6;
$color-warning-background: var(--color-warning-background, $color-warning-background-original);

$color-warning-primary: #ffc900;

$color-warning-dark-original: #634e00;
$color-warning-dark: var(--color-warning-dark, $color-warning-dark-original);

// Other
$border-width: 2px;
$border-width-thin: 2px;
$border-radius: 5px;

// Aliasses
$color-border: $color-gray-lighter; 
$color-border-shade: $color-gray-light;
$color-background-shade: $color-white-shade;
$color-background-shade-darker: $color-gray-lighter;

$color-shadow-original: rgba(0, 0, 0, 0.05);
$color-shadow: var(--color-shadow, $color-shadow-original);

$color-side-view-shadow-original: rgba(0, 0, 0, 0.1);
$color-side-view-shadow: var(--color-side-view-shadow, $color-side-view-shadow-original);

$color-overlay-shadow-original: rgba(0, 0, 0, 0.15);
$color-overlay-shadow: var(--color-overlay-shadow, $color-overlay-shadow-original);

$color-box-shadow-original: rgba(0, 0, 0, 0.05);
$color-box-shadow: var(--color-box-shadow, $color-box-shadow-original);