// Colors
$input-height: 44px;

$font-weight-default: var(--font-weight-default, 500);

// On desktop, medium is same as default
$font-weight-medium: var(--font-weight-medium, 500);
$font-weight-semibold: var(--font-weight-semibold, 600);
$font-weight-bold: var(--font-weight-bold, 600);

@media (max-width: 400px) {
    :root {
        --navigation-bar-margin: 0px;
    }
}

$color-primary-original: #0053ff;
$color-primary: var(--color-primary, $color-primary-original);

$color-primary-gray-light-original: #9DB7EC;
$color-primary-gray-light: var(--color-primary-gray-light, $color-primary-gray-light-original);

$color-dark-original: #1D2129;// #000716;
$color-dark: var(--color-dark, $color-dark-original);

$color-primary-destination: var(--color-primary, #2700ff);

//$color-error: #FF1741;
$color-error: #f0153d;

$color-error-border-original: #FFCAD3;
$color-error-border: var(--color-error-border, $color-error-border-original);

$color-error-border-focus: $color-error;

$color-success-original: #0CBB69;
$color-success-background-original: #E5F6EE;
$color-success-dark-original: #0C4529;
$color-success-border-original: #AEDBC6;

$color-success: var(--color-success, $color-success-original);
$color-success-background: var(--color-success-background, $color-success-background-original);
$color-success-dark: var(--color-success-dark, $color-success-dark-original);
$color-success-border: var(--color-success-border, $color-success-border-original);
$color-success-border-focus: $color-success;


$color-gray-original: #868686;
$color-gray-1: var(--color-gray-1, $color-gray-original);

$color-gray-2-original: #dcdcdc;
$color-gray-2: var(--color-gray-2, $color-gray-2-original);

$color-gray-3-original: #e7e7e7;
$color-gray-3: var(--color-gray-3, $color-gray-3-original);

// Usage: descriptive text
$color-gray-4-original: #5e5e5e;
$color-gray-4: var(--color-gray-4, $color-gray-4-original);
$color-gray-text: $color-gray-4;

// Usage: text that is not important
$color-gray-5-original: #a7a7a7;
$color-gray-5: var(--color-gray-5, $color-gray-5-original);

$color-primary-lighter-original: #F7FAFF;
$color-primary-lighter: var(--color-primary-lighter, $color-primary-lighter-original);

$color-primary-light-original: #dfe9ff;
$color-primary-light: var(--color-primary-light, $color-primary-light-original);

$color-primary-background-original: #F0F5FF;
$color-primary-background: var(--color-primary-background, $color-primary-background-original);

$color-primary-dark-original: #002573;
$color-primary-dark: var(--color-primary-dark, $color-primary-dark-original);

$color-white-shade-original: #f5f5f5;
$color-white-shade: var(--color-white-shade, $color-white-shade-original);

$color-white-original: #ffffff;
$color-white: var(--color-white, #ffffff);

$color-primary-constrast-original: $color-white;
$color-primary-contrast: var(--color-primary-contrast, $color-primary-constrast-original);

// Used for segmented control
$color-white-highlight: var(--color-white-highlight, #ffffff);

// Used for interaction elements that need to remaing visible in dark mode
$color-white-interaction: var(--color-white-interaction, #ffffff);

//$color-background-original: #ffffff;
$color-background: $color-white;//;var(--color-background, #ffffff);

$color-error-background-original: #ffd6dd;
$color-error-background: var(--color-error-background, $color-error-background-original);

$color-error-dark-original: #630012;
$color-error-dark: var(--color-error-dark, $color-error-dark-original);

$color-warning-background-original: #fff6d6;
$color-warning-background: var(--color-warning-background, $color-warning-background-original);

$color-warning-primary: #ffc900;

$color-warning-dark-original: #634e00;
$color-warning-dark: var(--color-warning-dark, $color-warning-dark-original);

// Other
$border-width: 2px;
$border-width-thin: var(--border-width-thin, 1px);


$border-radius: 7px;
$border-radius-modals: 15px;

// Aliasses

$color-border-lighter-original: $color-gray-3; 
$color-border-lighter: var(--color-border-lighter, $color-border-lighter-original);

$color-border-original: $color-gray-2; 
$color-border: var(--color-border, $color-border-original);

$color-border-shade-original: #D1D1D1;
$color-border-shade: var(--color-border-shade, $color-border-shade-original);

$color-background-shade: $color-white-shade;
$color-background-shade-darker: #EBEBEB;
$color-border-shade-darker: #D1D1D1;

$color-shadow-original: rgba(0, 0, 0, 0.05);
$color-shadow: var(--color-shadow, $color-shadow-original);

$color-side-view-shadow-original: rgba(0, 0, 0, 0.1);
$color-side-view-shadow: var(--color-side-view-shadow, $color-side-view-shadow-original);

$color-overlay-shadow-original: rgba(0, 0, 0, 0.1);
$color-overlay-shadow: var(--color-overlay-shadow, $color-overlay-shadow-original);

$color-box-shadow-original: rgba(0, 0, 0, 0.05);
$color-box-shadow: var(--color-box-shadow, $color-box-shadow-original);

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    :root {
        --border-width-thin: 0.5px;
        --color-border-shade: #{$color-gray-5};
        --color-border-lighter: #{$color-gray-5};
    }
}
