@use 'variables' as *;

.style-side-view-shadow {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.style-input-shadow {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.style-title-1 {
    font-size: 30px;
    font-weight: 600;
}

.style-title-2 {
    font-size: 20px;
    font-weight: 600;
}

.style-title-small {
    font-size: 16px;
    font-weight: 600;
}

.style-normal {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: $color-dark;
}

.style-description {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: $color-gray;
}

.style-input {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.style-label {
    @extend .style-title-small;
    display: block;
    margin-top: 20px;
}

.style-table-head {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.style-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: $color-gray;
}

.style-caption {
    font-size: 14px;
    font-weight: 600;
    color: $color-gray;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
