@use '../base/variables' as *;

hr.hr {
    display: block;
    height: $border-width;
    border-radius: $border-width/2;
    background: $color-gray-light;
    border: 0;
    outline: 0;
    margin: 30px 0;
}