@use '../base/variables' as *;
@use '../base/text-styles';

.link {
    &:hover, &:link, &:active, &:visited {
        color: $color-primary;
        font-weight: 600;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.4;
    }
}

.icon-spacer {
    margin-right: 5px;
    vertical-align: middle;
}

.button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;

    &.primary {
        font-size: 18px;
        font-weight: 600;
        color: white;

        padding: 0 27px;
        background: linear-gradient(to right, $color-primary, $color-primary-destination);
        text-align: center;
        word-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 42px;
        line-height: 42px;

        border-radius: $border-radius;
        transition: 0.2s transform, 0.2s opacity, 0.2s box-shadow;
        box-shadow: 0 6px 10px 0 rgba($color-primary, 0.2);
        touch-action: manipulation;
        display: inline-flex;
        justify-content: center;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:active {
            transform: scale(0.95, 0.95);
            box-shadow: 0 0px 15px 0 rgba($color-primary, 0.2);
        }

        .dropdown-text {
            flex-grow: 1;
            margin-right: -40px;
            padding-right: 40px;
        }

        .dropdown {
            border-left: $border-width solid rgba($color-white, 0.5);
            background: url(~@stamhoofd/assets/images/icons/white/arrow-down-small.svg) no-repeat center center;
            width: 40px;
            align-self: stretch;
            margin-right: -27px;
            margin-left: 27px - $border-width;

            &:hover {
                background-color: rgba($color-white, 0.2);
            }
        }

        .lock {
            background: url(~@stamhoofd/assets/images/icons/white/lock.svg) no-repeat center center;
            width: 40px;
            align-self: stretch;
        }

        &:disabled {
            color: $color-gray-light;
            background: $color-white-shade;
            box-shadow: none;
            cursor: not-allowed;

            &:active {
                transform: none;
            }
        }

    }

    &.secundary {
        font-size: 18px;
        font-weight: 600;
        color: $color-gray-dark;
        padding: 0 27px;
        background: $color-gray-lighter;
        text-align: center;
        word-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: $border-radius;
        transition: 0.2s transform, 0.2s opacity, 0.2s box-shadow;
        cursor: pointer;
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        height: 42px;
        line-height: 42px;
        display: inline-flex;
        justify-content: center;

        &:active {
            transform: scale(0.95, 0.95);
        }

        &:disabled {
            color: $color-gray-light;
            background: $color-white-shade;
            box-shadow: none;
            cursor: not-allowed;

            &:active {
                transform: none;
            }
        }
    }

    &.secundary, &.primary {
        .icon {
            align-self: center;
            
            &:first-child {
                margin-right: 10px;
                margin-left: -5px;
            }

            &:last-child {
                margin-left: 10px;
                margin-right: -5px;
            }
        }

        &.full {
            width: 100%;
        }
    }

    &.secundary, &.primary, &.text {
        &> span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.icon {
                text-overflow: clip;
                flex-shrink: 0;
            }
        }
    }

    /*&.privacy {
        width: 24px;
        height: 24px;
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        touch-action: manipulation;

        background-image: url(~@stamhoofd/assets/images/icons/gray/privacy.svg);
        background-position: center center;
        background-repeat: no-repeat;

        &:active {
            opacity: 0.4;
        }
    }*/

    &.tooltip-only {
        cursor: help;
    }

    &.text {
        @extend .style-button-small;
        color: $color-gray-dark;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        height: 34px;
        line-height: 34px;
        white-space: nowrap;

        > * {
            vertical-align: top;
        }

        &:active {
            opacity: 0.4;
        }

        @media (max-width: 440px) {
            &.limit-space {
                overflow: visible;
                
                span:not(.icon) {
                    display: none
                }
            }
        }
    }

    &.icon {
        padding: 10px;
        margin: -10px;

        &:active {
            opacity: 0.4;
        }
    }
}