@use '@stamhoofd/scss/base/variables' as *;

.error-box {
    background: $color-error-background url("~@stamhoofd/assets/images/icons/color/exclamation-two.svg") 10px center
        no-repeat;
    border-radius: $border-radius;
    color: $color-error-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;
}

.warning-box {
    background: $color-warning-background url("~@stamhoofd/assets/images/icons/color/exclamation.svg") 10px center
        no-repeat;
    border-radius: $border-radius;
    color: $color-warning-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;
    margin: 15px 0;
}

.info-box {
    background: $color-primary-background;
    border-radius: $border-radius;
    color: $color-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        color: $color-primary;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/info-filled.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.success-box {
    background: $color-success-background;
    border-radius: $border-radius;
    color: $color-success-dark;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;
    margin: 15px 0;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        color: $color-success;
        font-size: 24px;
        font-icon: url(@stamhoofd/assets/images/icons/success-line.svg);
        left: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}