@use '../base/variables' as *;
@use '../base/text-styles';

.icon {
    width: 24px;
    font-size: 24px;
    box-sizing: content-box;
    overflow: hidden;
    white-space: nowrap;
    display: inline;

    &.gray {
        color: $color-gray;
    }

    &.middle {
        vertical-align: middle;
    }

    &:after {
        vertical-align: middle;
    }

    &.add:after {
        font-icon: url('@stamhoofd/assets/images/icons/gray/add.svg');
    }

    &.help:after {
        font-icon: url('@stamhoofd/assets/images/icons/gray/help.svg');
    }

    &.arrow-left:after {
        font-icon: url(@stamhoofd/assets/images/icons/arrow-left-big.svg);
    }

    &.arrow-right:after {
        font-icon: url(@stamhoofd/assets/images/icons/arrow-right-big.svg);
    }

    &.clock:after {
        font-icon: url(@stamhoofd/assets/images/icons/gray/clock.svg);
    }

    &.trash:after {
        font-icon: url(@stamhoofd/assets/images/icons/gray/trash.svg);
    }

    &.arrow-right-small:after {
        font-icon: url(@stamhoofd/assets/images/icons/arrow-right-small.svg);
    }

    &.close:after {
        font-icon: url(@stamhoofd/assets/images/icons/close.svg);
    }

    &.more:after {
        font-icon: url(@stamhoofd/assets/images/icons/more.svg);
    }

    &.privacy:after {
        font-icon: url(@stamhoofd/assets/images/icons/privacy.svg);
    }

    &.edit:after {
        font-icon: url(@stamhoofd/assets/images/icons/pencil.svg);
    }
}