@use '../base/variables' as *;
@use '../base/text-styles';

.icon {
    height: 24px;
    line-height: 24px;
    box-sizing: content-box;
    @extend .style-button-small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;

    &.gray {
        color: $color-gray;
    }

    &.left {
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-right: 10px;
    }

    &.right {
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 30px;
        padding-left: 10px;
    }

    &:empty {
        width: 24px;
        padding: 0;
    }

    &.gray {
        &.help {
            background-image: url(~@stamhoofd/assets/images/icons/gray/help.svg);
        }

        &.arrow-left {
            background-image: url(~@stamhoofd/assets/images/icons/gray/arrow-left-big.svg);
        }

        &.arrow-right {
            background-image: url(~@stamhoofd/assets/images/icons/gray/arrow-right-big.svg);
        }

        &.clock {
            background-image: url(~@stamhoofd/assets/images/icons/gray/clock.svg);
        }

        &.add {
            background-image: url(~@stamhoofd/assets/images/icons/gray/add.svg);
        }

        &.trash {
            background-image: url(~@stamhoofd/assets/images/icons/gray/trash.svg);
        }

        &.arrow-right-small {
            background-image: url(~@stamhoofd/assets/images/icons/gray/arrow-right-small.svg);
        }
    }
}