@use '../base/variables' as *;
@use '../base/text-styles';

$input-height: 44px;

.input-spacing {
    max-width: 340px;
}

.input,
.editor .ProseMirror {
    @extend .input-spacing;
    @extend .style-input;
    @extend .style-input-shadow;
    color: $color-dark;
    border: $border-width solid $color-gray-light;
    background: white;
    border-radius: $border-radius;
    padding: 5px 15px;
    height: $input-height;
    line-height: $input-height - 10px - 2 * $border-width;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition: border-color 0.2s;
    text-overflow: ellipsis;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

     &:hover {
        border-color: $color-primary-gray-light;
    }

    &:focus,
    &:focus-within {
        border-color: $color-primary;
    }

    &::placeholder {
        color: $color-gray;
    }

    &.error {
        border-color: $color-error;

        &:focus,
        &:focus-within {
            border-color: $color-error-focus;
        }
    }
}

.input-errors {
    .input {
        border-color: $color-error;

        &:focus,
        &:focus-within {
            border-color: $color-error-focus;
        }
    }
}

textarea.input {
    max-width: none;
    padding: 12px 15px;
    // 3 lines height
    line-height: $input-height - 18px - 2 * $border-width;

    height: $input-height + 4px + 10px + ($input-height - 18px - 2 * $border-width) * 2;
    resize: none;
}

.editor .ProseMirror {
    max-width: none;
    padding: 0 15px;
    height: auto;
    min-height: $input-height * 2;
    line-height: normal;
    outline: none;
}

.input-dropdown {
    // Add a background arrow to our selection field.
    background: url(~@stamhoofd/assets/images/icons/gray/arrow-down-small.svg) no-repeat right 10px center;

    // Increase the right padding just a little.
    padding-right: 35px;
}

select.input {
    cursor: pointer;

    @extend .input-dropdown;

    // Remove dotted line in Firefox
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

// Used to put multiple inputs next to each other
.input-group {
    display: flex;
    flex-direction: row;
    @extend .input-spacing;

    & > * {
        flex-grow: 1;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .input {
            margin: 0;
        }
    }
}

// Icons and other things
.input.search {
    padding-left: 43px;
    background-image: url(~@stamhoofd/assets/images/icons/gray/search.svg);
    background-position: 8px center;
    background-repeat: no-repeat;
}
