@use '../base/variables' as *;
@use '../base/text-styles';

.radio,
.checkbox {
    margin: 10px 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    + label.style-label {
        margin-top: 30px;
    }

    display: block;
    cursor: pointer;

    > input {
        display: none;
    }

    > div {
        @extend .style-input;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;

        > div:first-child {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-basis: 20px;
            border-radius: $border-radius;
            border: $border-width solid $color-gray-light;
            background: transparent;
            box-sizing: border-box;
            transition: background-color 0.2s, border-color 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;

            svg > path {
                stroke-dasharray: 30;
                stroke-dashoffset: 30;
                transition: stroke-dashoffset 0.4s 0.1s;
            }

            ~ div {
                margin-left: 10px;

                &:empty {
                    margin: 0;
                }
            }
        }
    }

    > input[type="radio"] + div {
        > div:first-child {
            border-radius: 11px;

            &::after {
                content: "";
                height: 20px - $border-width * 2;
                width: 20px - $border-width * 2;
                background: white;
                border-radius: (20px - $border-width * 2)/2;
                transition: transform 0.2s;
                transform: scale(1, 1);
            }
        }
    }

    > input:checked + div {
        > div:first-child {
            border: $border-width solid $color-primary;
            background: $color-primary;

            svg > path {
                stroke-dashoffset: 0;
            }
        }
    }

    > input[type="radio"]:checked + div {
        > div:first-child {
            &::after {
                transform: scale(0.4, 0.4);
            }
        }
    }
}

// Extra padding on first
label.style-label {
    + .checkbox,
    + .radio {
        margin-top: 20px;
    }
}
