// Colors
$color-primary: #0053ff;
$color-primary-gray-light: #9DB7EC;
$color-dark: #000716;
$color-primary-destination: #2700ff;
$color-error: #ff002e;
$color-error-border: #ffaab9;
$color-error-border-focus: #ff002e;

$color-success: #1ABD6F;
$color-success-background: #EBFAF3;

$color-gray-dark: #5e5e5e;
$color-gray: #868686;
$color-gray-light: #dcdcdc;
$color-gray-lighter: #e7e7e7;

$color-primary-lighter: #F7FAFF;
$color-primary-light: #dfe9ff;
$color-primary-background: #F0F5FF;

$color-white-shade: #f5f5f5;
$color-white: #ffffff;

$color-error-background: #ffd6dd;
$color-error-dark: #630012;

$color-warning-background: #fff6d6;
$color-warning-primary: #ffc900;
$color-warning-dark: #634e00;

// Other
$border-width: 2px;
$border-width-thin: 2px;
$border-radius: 5px;

// Aliasses
$color-border: $color-gray-lighter; 
$color-border-shade: $color-gray-light;
$color-background: $color-white; 
$color-background-shade: $color-white-shade;
$color-background-shade-darker: $color-gray-lighter;