{
    "environment": "development",
    "domains": {
        "dashboard": "dashboard.stamhoofd.dev",
        "registration": {
            "": "stamhoofd.dev",
            "BE": "dev.stamhoofd.be",
            "NL": "dev.stamhoofd.nl"
        },
        "webshop": "shop.stamhoofd.dev",
        "api": "api.stamhoofd.dev",
        "demoApi": "api.stamhoofd.dev"
    },
    
    "PORT": 9091,
    "DB_HOST": "localhost",
    "DB_USER": "",
    "DB_PASS": "",
    "DB_DATABASE": "",

    "SMTP_HOST": "",
    "SMTP_USERNAME": "",
    "SMTP_PASSWORD": "",
    "SMTP_PORT": 587,

    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_REGION": "",

    "SPACES_ENDPOINT": "",
    "SPACES_BUCKET": "",
    "SPACES_KEY": "",
    "SPACES_SECRET": "",

    "MOLLIE_CLIENT_ID": "",
    "MOLLIE_SECRET": "",
    "MOLLIE_API_KEY": "",
    "MOLLIE_ORGANIZATION_TOKEN": "",

    "LATEST_IOS_VERSION": 0,
    "LATEST_ANDROID_VERSION": 0,

    "NOLT_SSO_SECRET_KEY": "",
    "INTERNAL_SECRET_KEY": ""
}