{
    "environment": "development",
    "domains": {
        "dashboard": "dashboard.stamhoofd",
        "registration": {
            "": "be.stamhoofd",
            "BE": "be.stamhoofd",
            "NL": "nl.stamhoofd"
        },
        "marketing": {
            "": "www.be.stamhoofd",
            "BE": "www.be.stamhoofd",
            "NL": "www.nl.stamhoofd"
        },
        "webshop": {
            "": "shop.be.stamhoofd",
            "BE": "shop.be.stamhoofd",
            "NL": "shop.nl.stamhoofd"
        },
        "legacyWebshop": "shop.stamhoofd",
        "api": "api.stamhoofd",
        "rendererApi": "renderer.stamhoofd"
    },
    "translationNamespace": "stamhoofd",
    "platformName": "stamhoofd",
    "userMode": "organization",
    
    "PORT": 9091,
    "DB_HOST": "127.0.0.1",
    "DB_USER": "",
    "DB_PASS": "",
    "DB_DATABASE": "",

    "SMTP_HOST": "0.0.0.0",
    "SMTP_USERNAME": "username",
    "SMTP_PASSWORD": "password",
    "SMTP_PORT": 1025,

    "TRANSACTIONAL_SMTP_HOST": "0.0.0.0",
    "TRANSACTIONAL_SMTP_USERNAME": "username",
    "TRANSACTIONAL_SMTP_PASSWORD": "password",
    "TRANSACTIONAL_SMTP_PORT": 1025,

    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_REGION": "",

    "SPACES_ENDPOINT": "",
    "SPACES_BUCKET": "",
    "SPACES_KEY": "",
    "SPACES_SECRET": "",

    "MOLLIE_CLIENT_ID": "",
    "MOLLIE_SECRET": "",
    "MOLLIE_API_KEY": "",
    "MOLLIE_ORGANIZATION_TOKEN": "",

    "LATEST_IOS_VERSION": 0,
    "LATEST_ANDROID_VERSION": 0,

    "NOLT_SSO_SECRET_KEY": "",
    "INTERNAL_SECRET_KEY": "",
    "CRONS_DISABLED": false,
    "WHITELISTED_EMAIL_DESTINATIONS": ["*"]
}
