@font-face {
    font-family: "Metropolis";
    font-weight: bold;
    src: url("~@stamhoofd/assets/fonts/Metropolis/WOFF2/Metropolis-Bold.woff2") format("woff2"),
        url("~@stamhoofd/assets/fonts/Metropolis/WOFF/Metropolis-Bold.woff") format("woff");
}
@font-face {
    font-family: "Metropolis";
    font-weight: 500;
    src: url("~@stamhoofd/assets/fonts/Metropolis/WOFF2/Metropolis-Medium.woff2") format("woff2"),
        url("~@stamhoofd/assets/fonts/Metropolis/WOFF/Metropolis-Medium.woff") format("woff");
}
@font-face {
    font-family: "Metropolis";
    font-weight: 600;
    src: url("~@stamhoofd/assets/fonts/Metropolis/WOFF2/Metropolis-SemiBold.woff2") format("woff2"),
        url("~@stamhoofd/assets/fonts/Metropolis/WOFF/Metropolis-SemiBold.woff") format("woff");
}
