# If you want to use a custom server address (e.g. when testing in your LAN on other devices, 
# specify a different address for your local server here)
# - this will resolve all DNS records to that address
SERVER_IP=192.168.1.100