# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  NODE_VERSION: 22

jobs:
  job_setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Determine changed packages
        uses: AurorNZ/paths-filter@v3.0.1
        id: changed
        with:
          filters: |
            backend:
              - 'shared/**'
              - 'backend/**'
            frontend:
              - 'shared/**'
              - 'frontend/**'
            structures:
              - 'shared/**'
            models:
              - 'shared/**'
              - 'backend/shared/models/**'
            sql:
              - 'shared/structures/**'
              - 'shared/utility/**'
              - 'backend/shared/sql/**'

    outputs:
      changed_backend: ${{ steps.changed.outputs.backend }}
      changed_structures: ${{ steps.changed.outputs.structures }}
      changed_models: ${{ steps.changed.outputs.models }}
      changed_sql: ${{ steps.changed.outputs.sql }}
      changed_frontend: ${{ steps.changed.outputs.frontend }}

  job_test_backend:
    name: 'Backend API Tests'
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_backend == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Shutdown MySQL
        run: sudo service mysql stop

      - uses: daniellockyer/mysql-action@main
        with:
          authentication plugin: 'mysql_native_password'
          mysql version: '8.0'
          mysql database: 'stamhoofd-tests'
          mysql root password: 'root'

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:shared
      - name: Run tests
        run: cd backend/app/api && yarn build && yarn test --bail
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Backend tests failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Backend tests failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"
  
  job_test_models:
    name: 'Backend Models Tests'
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_models == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Shutdown MySQL
        run: sudo service mysql stop

      - uses: daniellockyer/mysql-action@main
        with:
          authentication plugin: 'mysql_native_password'
          mysql version: '8.0'
          mysql database: 'stamhoofd-tests'
          mysql root password: 'root'

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:shared
      - name: Run tests
        run: cd backend/shared/models && yarn build && yarn test --bail
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Models tests failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Models tests failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"

  job_test_sql:
    name: 'Backend SQL Tests'
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_sql == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Shutdown MySQL
        run: sudo service mysql stop

      - uses: daniellockyer/mysql-action@main
        with:
          authentication plugin: 'mysql_native_password'
          mysql version: '8.0'
          mysql database: 'stamhoofd-tests'
          mysql root password: 'root'

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:shared
      - name: Run tests
        run: cd backend/shared/sql && yarn test --bail
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "SQL tests failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *SQL tests failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"

  job_test_structures:
    name: 'Structures Tests'
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_structures == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:global:shared
      - name: Linting
        run: cd shared/structures && yarn lint --quiet
      - name: Run tests
        run: cd shared/structures && yarn test --bail
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Structures tests failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Structures tests failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"
  
  job_test_playwright:
    name: 'Playwright Tests'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_backend == 'true' || needs.job_setup.outputs.changed_frontend == 'true'
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'
    - name: Restore CoreDNS cache
      id: cache-coredns
      uses: actions/cache@v3
      with:
        path: .coredns
        key: coredns-v1.13.1
        restore-keys: coredns-
    - name: Install CoreDNS
      if: steps.cache-coredns.outputs.cache-hit != 'true'
      run: |
        mkdir -p .coredns
        curl -L -o .coredns/coredns.tgz \
        https://github.com/coredns/coredns/releases/download/v1.13.1/coredns_1.13.1_linux_amd64.tgz
        tar -xzf .coredns/coredns.tgz -C .coredns
        chmod +x .coredns/coredns
    - name: Add CoreDNS to PATH
      run: echo "${GITHUB_WORKSPACE}/.coredns" >> $GITHUB_PATH
    - name: Check CoreDNS version
      run: coredns -version
    - name: Disable default DNS
      run: |
        sudo systemctl stop systemd-resolved
        sudo systemctl disable systemd-resolved
        sudo rm /etc/resolv.conf
        echo "nameserver 127.0.0.1" | sudo tee /etc/resolv.conf
    - name: Run coredns
      run: export SERVER_IP=127.0.0.1 && . .development/loadenv.sh && sudo -E ./.coredns/coredns -conf .development/Corefile &
    - name: Use local DNS
      run: sudo sed -i '1inameserver 127.0.0.1' /etc/resolv.conf
    - name: Log coredns corefile path
      run: ps aux | grep coredns
    - name: Log corefile
      run: cat .development/Corefile
    - name: List DNS servers
      run: sudo cat /etc/resolv.conf
    - name: Log if DNS is running
      run: ps aux | grep coredns
    - name: Log if DNS is listening
      run: sudo netstat -tulnp | grep ":53"
    - name: Check DNS resolver
      run: dig test.stamhoofd @127.0.0.1
    - name: Check DNS resolution
      run: |
        DOMAIN="test.stamhoofd"
        EXPECTED_IP="127.0.0.1"

        ACTUAL_IP=$(dig +short A "$DOMAIN" | head -n1)

        echo "Expected IP: $EXPECTED_IP"
        echo "Actual IP:   $ACTUAL_IP"

        if [[ "$ACTUAL_IP" != "$EXPECTED_IP" ]]; then
            echo "❌ DNS check failed! $DOMAIN resolved to $ACTUAL_IP"
            exit 1
        fi

          echo "✅ DNS check passed!"
    - name: Install dependencies
      run: yarn install --prefer-offline --frozen-lockfile
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: Cache Caddy
      id: caddy-cache
      uses: actions/cache@v4
      with:
        path: /usr/local/bin/caddy
        key: caddy-${{ runner.os }}-v1
    - name: Install Caddy if missing
      if: steps.caddy-cache.outputs.cache-hit != 'true'
      run: |
        curl -fsSL https://github.com/caddyserver/caddy/releases/download/v2.10.2/caddy_2.10.2_linux_amd64.tar.gz \
        | sudo tar -C /usr/local/bin -xz caddy
        sudo chmod +x /usr/local/bin/caddy
    - name: Verify Caddy
      run: caddy version
    - name: Give Caddy permissions to bind to privileged ports
      run: sudo setcap 'cap_net_bind_service=+ep' $(which caddy)
    - name: Caddy trust
      run: caddy start && caddy trust --config /dev/null && caddy stop
    - name: Check if Caddy certificate exists
      id: check_cert
      run: |
        CERT_PATH="$HOME/.local/share/caddy/pki/authorities/local/root.crt"
        if [ -f "$CERT_PATH" ]; then
            echo "Caddy certificate found at $CERT_PATH"
            echo "exists=true" >> $GITHUB_OUTPUT
        else
            echo "Caddy certificate NOT found."
            echo "exists=false" >> $GITHUB_OUTPUT
        fi
    - name: Add Caddy certificate to trust store
      if: steps.check_cert.outputs.exists == 'true'
      run: |
        CERT_PATH="$HOME/.local/share/caddy/pki/authorities/local/root.crt"
        sudo cp "$CERT_PATH" /usr/local/share/ca-certificates/caddy.crt
        sudo chmod 644 /usr/local/share/ca-certificates/caddy.crt
        sudo update-ca-certificates
    - name: Check if Caddy certificate is trusted
      run: openssl verify /usr/local/share/ca-certificates/caddy.crt
    # - name: Install certutil
    #   run: sudo apt-get update && sudo apt-get install -y libnss3-tools
    # - name: Import Caddy certificate into Chromium
    #   run: |
    #     # Path to the Caddy root certificate
    #     CERT="$HOME/.local/share/caddy/pki/authorities/local/root.crt"
        
    #     # Create a temporary Chromium profile
    #     CHROMIUM_PROFILE="$HOME/chromium-profile"
    #     mkdir -p "$CHROMIUM_PROFILE"
        
    #     # Create an empty NSS database
    #     certutil -N -d sql:"$CHROMIUM_PROFILE" --empty-password
        
    #     # Import the Caddy certificate
    #     certutil -A -d sql:"$CHROMIUM_PROFILE" -n "Caddy Root CA" -t "TCu,Cu,Tu" -i "$CERT"

    #     sudo update-ca-certificates
        
    #     echo "Caddy certificate imported into Chromium NSS DB"
    - name: Build shared packages
      run: yarn build:shared
    - name: Build API
      run: cd backend/app/api && yarn build
    - name: Shutdown MySQL
      run: sudo service mysql stop
    - uses: daniellockyer/mysql-action@main
      with:
        authentication plugin: 'mysql_native_password'
        mysql version: '8.0'
        mysql database: 'stamhoofd-tests'
        mysql root password: 'root'
    - name: Run Playwright tests
      run: CI=true yarn test:playwright
      continue-on-error: true   # allows uploading artifacts even if tests fail
    - name: Upload Playwright artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-traces
        path: |
            tests/playwright/playwright-report
            tests/playwright/test-results
        retention-days: 1
    - name: Notify Slack of failure
      uses: slackapi/slack-github-action@v2.0.0
      if: failure() && github.event_name != 'pull_request'
      with:
        webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
        webhook-type: incoming-webhook
        payload: |
            text: "Playwright tests failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Playwright tests failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"

  job_boot:
    name: 'API boot and shutdown'
    runs-on: ubuntu-latest
    needs: [job_setup]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Shutdown MySQL
        run: sudo service mysql stop

      - uses: daniellockyer/mysql-action@main
        with:
          authentication plugin: 'mysql_native_password'
          mysql version: '8.0'
          mysql database: 'stamhoofd-tests'
          mysql root password: 'root'
      - name: For building, we need development dependencies - install them
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:shared
      - name: Build API
        run: cd backend/app/api && yarn build
      - name: Remove all installed dependencies
        run: yarn clear-dependencies
      - name: Install production dependencies only
        run: yarn install --prefer-offline --frozen-lockfile --production
      - name: Running migrations
        run: cd backend/app/api && NODE_ENV=test node ./dist/migrations.js
      - name: Run boot test
        run: NODE_ENV=test bash test/boot/boot-test.sh
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Boot test failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Boot test failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"
  
  job_test_frontend_type_checking:
    name: 'Frontend Types'
    runs-on: ubuntu-latest
    needs: [job_setup]
    if: needs.job_setup.outputs.changed_frontend == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Build shared packages
        run: yarn build:global:shared
      - name: Run type checking
        run: yarn -s frontend:types
      - name: Notify Slack of failure
        uses: slackapi/slack-github-action@v2.0.0
        if: failure() && github.event_name != 'pull_request'
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Frontend type checking failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "@channel *Frontend type checking failed* for `${{ github.event.head_commit.message }}` by ${{ github.event.pull_request.user.name || github.event.head_commit.author.name }}"
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "Open commit"
                    emoji: false
                  value: "click_me"
                  url: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
                  action_id: "button-action"
  