<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stamhoofd.stamhoofd">

    <application>

        <activity android:name="com.stamhoofd.stamhoofd.MainActivity">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="dashboard.stamhoofd.dev" />
            </intent-filter>

        </activity>

    </application>
</manifest>
